.main-port{
    margin: 10px 30px 10px 150px;
}
.card{
    height: 200PX;
    width: 500px;

}
.card-body{
    text-align: center;
    text-decoration: solid;
}
.main-port {
    padding: 20px;
  }
  .card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0); /* Initial box shadow */
    transition: box-shadow 0.3s, transform 0.3s;
  }
  .maruti-train{
    width: 500px;
    height: 300px;
    margin-bottom: 35px;
  }
  .card-title {
    margin-top: 100px;
    font-size: 19px; 
  }
  .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); 
    transform: scale(1.1); 
  }
   .card-title {
    position: absolute;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  .maruti-train{
    height: 220px;
}
 .port-hr{
    width: 300px;
    color: black;
    border: 2px solid;
    margin-bottom: 20px;
    
 }
 .main{
    font-weight: bold;
 }
  